<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header-main.html"
    <div id="wrapper-content">
        <div class="signin-signup">
            <div class="forms">
                <ul class="tabs">
                    <li class="tab active">вход</li>
                    <li class="tab ">регистрация</li>
                </ul>
                <div class="forms-content">
                    <form class="signin active" >
                        <fieldset>
                            <div class="field field-country mt-22">
                                <p class="name">Страна</p>
                                <input type="text" id="input-country" required>
                                <div class="icon">
                                    <svg class="arrow arrow-down">
                                        <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">Номер</p>
                                <input type="text" id="input-phone" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">Пароль</p>
                                <input type="password" required>
                                <div class="btn-error"></div>
                            </div>
                            <button type="submit" class="btn btn-submit mt-22" id="sign-in">ВОЙТИ</button>
                            <p class="forms-gray">или войти с другого акканута</p>
                            <div class="socials">
                                <a href="#" class="social">
                                    <img src="img/google.png" alt="google" class="social-icon">
                                </a>
                                <a href="#" class="social">
                                    <img src="img/facebook.svg" alt="facebook" class="social-icon">
                                </a>
                                <a href="#" class="social">
                                    <img src="img/mail.svg" alt="mail" class="social-icon-mail">
                                </a>
                            </div>
                        </fieldset>
                    </form>
                    <form class="signup">
                        <fieldset>
                            <div class="field mt-22">
                                <p class="name" >Имя</p>
                                <input type="text" value="Алексей" title="Используйте только буквы" name="username" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name" >Фамилия</p>
                                <input type="text" value="Петров" title="Используйте только буквы" name="username" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">Дата рождения</p>
                                <input type="text" value="13/02/1990" class="inputmask-date" data-inputmask="'yearrange': { 'minyear': '1917', 'maxyear': '2016' }" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">E-Mail</p>
                                <input type="text" name="email" value="aleksey.petrov@xx.com" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">Пароль</p>
                                <input type="password" name="password" value="password" required>
                                <div class="btn-error"></div>
                            </div>
                            <div class="field mt-22">
                                <p class="name">Пароль еще раз</p>
                                <input type="password" name="confirm_password" value="password" required>
                                <div class="btn-error"></div>
                            </div>
                            <p class="forms-text mt-22">
                                Регистрируясь на нашем сервисе вы соглашаетесь с правилами пользования <a href="#" class="forms-link"> Читать условия</a>
                            </p>
                            <button type="submit" class="btn btn-submit mt-22" id="sign-up">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
                        </fieldset>

                    </form>
                    <form class="signup-step ">
                        <fieldset>
                            <p class="forms-text mt-22">
                                На ваш номер было отправлено сообщение с кодом регистрации. <a href="#" class="forms-link"> Отправить еще раз </a>
                            </p>
                            <div class="field mt-22">
                                <p class="name">Код</p>
                                <input type="text" required>
                            </div>
                            <button type="submit" class="btn btn-submit mt-22">ПРОДОЛЖИТЬ</button>
                            <p class="forms-gray">или войти с другого акканута</p>
                            <div class="socials">
                                <a href="#" class="social">
                                    <img src="img/google.png" alt="google" class="social-icon">
                                </a>
                                <a href="#" class="social">
                                    <img src="img/facebook.svg" alt="facebook" class="social-icon">
                                </a>
                                <a href="#" class="social">
                                    <img src="img/mail.svg" alt="mail" class="social-icon-mail">
                                </a>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>

    </div>
    @import "footer.html"
    @import "popups.html"
    @import "errors.html"
</div>


<script src="js/moment.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.inputmask.bundle.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
<script src="js/mask.js"></script>

</body>
</html>
