


#calendar {
    max-width: 332px;
    /* margin: 40px auto; */
    background: #FCFDFF;
    border: 2px solid #EEF3F9;
    box-sizing: border-box;
    border-radius: 4px;
}
#calendar__second {
    max-width: 332px;
    /* margin: 40px auto; */
    background: #FCFDFF;
    border: 2px solid #EEF3F9;
    box-sizing: border-box;
    border-radius: 4px;
}

.fc-event {
    cursor: pointer !important;
    border-radius: 0 !important;
}
.fc th,
.fc td {
    border-style: none;
    border-width: 0px;
    padding: 0;
    vertical-align: top;
    text-align: center;
}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: none;
    position: relative;
    top: 15px;
}
.fc-toolbar.fc-header-toolbar{
    margin-bottom: 22px;
}

.fc-dayGrid-view .fc-body .fc-row {
    min-height: 20px;
    max-height: 42.9px
}

.fc-scroller {
    max-height: 257px;
}
.fc-highlight {
    background-color: #124570;
    opacity: 0.5;
    border-radius: 3px;
}