<div class="error" id="error">
    <div class="error__head">
        <p class="text-15 c-blue">ОШИБКА title </p>
        <button type="button" class="close"></button>
    </div>
    <ul class="error-list">
        <li class="error-item">• Аккаунт с таким номер уже зарегестирован в системе. Если это ваш номер, вы можете
            <a href="#" class="error-link">восстановить аккунт здесь.</a>
        </li>
        <li class="error-item">• Длина пароля должна быть не менее 6 символов.</li>
    </ul>
</div>