<div>
    <div class="popups popup__lang-curr">
        <div class="popup">
            <div class="popup__head">
                <h2 class="popup__head-title">Язык и Валюта</h2>
                <button type="button" class="close"></button>
            </div>
            <div class="popup-content">
                <div class="popup__section">
                    <h4 class="popup__title">Валюта</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">EUR</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">USD</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">AZN</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">UAH</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">RUB</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">BEL</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">GEO</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">EAD</span>
                        </label>
                    </div>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Язык</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Английский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Французский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Немецкий</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Японский</span>
                        </label>
                    </div>
                </div>
                <div class="popup__bottom">
                    <a href="#" class="btn btn-small">SAVE CHANGES
                        <svg class="arrow">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="popups popup__additional-filters">
        <div class="popup positionTop">
            <div class="popup__head">
                <h2 class="popup__head-title">Дополнительные фильтры</h2>
                <button type="button" class="close"></button>
            </div>
            <form class="popup-content">
                <div class="popup__section">
                    <label class="label-checkbox">
                        <input type="checkbox" class="checkbox">
                        <span class="check"></span>
                        <span class="check-text">Возможность отмены</span>
                    </label>
                    <label class="label-checkbox">
                        <input type="checkbox" class="checkbox">
                        <span class="check"></span>
                        <span class="check-text">Опытный хозяин
                   <span class="check-span"> Останавливайтесь у самых гостеприимных хозяев <a href="#" class="c-blue">Подробнее</a></span>

                </span>
                    </label>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Удобства</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Кухня</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Шампунь</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Отопление</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Кондиционер</span>
                        </label>
                    </div>
                    <a href="#" class="link-item">Все удобства
                        <svg class="arrow c-blue">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Дополнительные удобства</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Бесплатная <br>парковка</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Спортзал</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Джакузи</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Бассейн</span>
                        </label>
                    </div>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Цена</h4>
                    <div class="popup__row">
                        <div class="popup__price" >
                            <p>От</p>
                            <input type="number" class="popup__input">
                        </div>
                        <div class="popup__price">
                            <p>До</p>
                            <input type="number" class="popup__input">
                        </div>

                    </div>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Язык хозяина</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Английский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Французский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Немецкий</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Японский</span>
                        </label>
                    </div>
                    <a href="#" class="link-item">все языки
                        <svg class="arrow c-blue">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="popup__bottom popup__bottom__between">
                    <button type="reset" class="link-item">очистить <span class="close"></span></button>
                    <button type="submit" class="btn btn-small">показать варианты
                        <svg class="arrow">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
