<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    <header class="payment__head">
        <div class="container">
            <div class="payment__head-row">
                <a href="#" class="logo">Xx
                    <span class="logo-span">.</span>
                </a>
                <div class="step-mob">шаг 3 из 3</div>
                <button class="payment__close close"></button>
                <ul class="step">
                    <li class="step-item">
                        <a href="#" class="step-link active">
                            1. Просмотрите правила дома
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link active">
                            2. Кто приезжает?
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link">
                            3. Подтвердите и оплатите
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="wrapper-content">
        <div class="container">
            <div class="payment">
                <form class="payment__content">
                    <h2 class="title">Подтвердите и оплатите</h2>
                    <div class="payment__block">
                        <div class="like-box">
                            <img src="img/medical.svg" alt="medical" class="like-box__icon">
                            <div class="like-box__col">
                                <p class="like-box__title">Людям нравится это объявление</p>
                                <p class="like-box__text">На прошлой неделе этими датами интересовались другие люди (5)</p>
                            </div>
                        </div>

                        <div class="form-confirm">
                            <div class="field field-payment">
                                <p class="name">Оплатить с помощью</p>
                                <input type="text" value="Кредитная или дебетовая карта" class="input-select" readonly required>
                                <div class="icon">
                                    <svg class="arrow arrow-down">
                                        <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                                    </svg>
                                </div>
                                <ul class="select">
                                    <li class="select-option active">Кредитная или дебетовая карта</li>
                                    <li class="select-option">Оплата наличными</li>
                                </ul>
                            </div>
                            <div class="payment-row">
                                <div class="field mt-22 w-100" >
                                    <p class="name">Имя</p>
                                    <input type="text" name="username" required>
                                </div>
                                <div class="field mt-22 w-100">
                                    <p class="name">Фамилия</p>
                                    <input type="text" name="username" required>
                                </div>
                            </div>

                            <div class="payment-card">
                                <div class="field mt-22">
                                    <p class="name">Номер карты</p>
                                    <input type="text" value=""  class="input-card" required>
                                </div>
                                <div class="payment-row">
                                    <div class="field">
                                        <p class="name">Срок действия</p>
                                        <input type="text" value="" placeholder="XX / XX" class="input-validity" required>
                                    </div>
                                    <div class="field">
                                        <p class="name">CVV</p>
                                        <input type="text" value="" placeholder="XXX" class="input-cvv" required>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-row">
                                <div class="field mt-22">
                                    <p class="name">Адрес</p>
                                    <input type="text"  required>
                                </div>
                                <div class="field mt-22">
                                    <p class="name">Квартира</p>
                                    <input type="text" required>
                                </div>
                                <div class="field mt-22">
                                    <p class="name">Город</p>
                                    <input type="text" required>
                                </div>
                                <div class="field mt-22">
                                    <p class="name">Штат</p>
                                    <input type="text" required>
                                </div>
                                <div class="field mt-22">
                                    <p class="name">Индекс</p>
                                    <input type="text" required>
                                </div>
                                <div class="field mt-22">
                                    <p class="name">Страна/регион</p>
                                    <input type="text" id="js-easyAutocomplete" required>
                                </div>
                            </div>
                        </div>

                        <div class="payment__radio">
                            <label class="label-checkbox label-radio">
                                <input type="radio" name="radio" class="checkbox" checked>
                                <span class="check check-radio"></span>
                                <span class="check-text check-radio-text">Оплатить полностью — $420 </span>
                            </label>
                            <label class="label-checkbox label-radio">
                                <input type="radio" name="radio" class="checkbox">
                                <span class="check check-radio"></span>
                                <span class="check-text check-radio-text">Частичная предоплата — $210
                                <span class="payment__form-text">Внесите $210 сейчас, а остаток ($210) автоматически спишется с того же способа оплаты 1 сент. 2020 г.. Без дополнительных сборов.
                                    <a href="#" class="more-link"> Подробнее
                                        <svg class="more-link-arrow">
                                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                                        </svg>
                                    </a>
                                </span>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="regulations">
                        <p class="text-17">ПРАВИЛА ОТМЕНЫ</p>
                        <p class="regulations-text">
                            Отмените до 3:00 PM 27 авг. и получите полный возврат. Затем, если вы отмените до 3:00 PM 9 сент., вы получите полный возврат за минусом сбора за услуги. <a href="#" class="more-link"> Подробнее
                            <svg class="more-link-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-red">ЗАПРОСИТЬ БРОНИРОВАНИЕ
                        <svg class="arrow">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>

                    <div class="like-box">
                        <img src="img/medical.svg" alt="medical" class="like-box__icon">
                        <div class="like-box__col">
                            <p class="like-box__title">Людям нравится это объявление</p>
                            <p class="like-box__text">На прошлой неделе этими датами интересовались другие люди (5)</p>
                        </div>
                    </div>
                </form>
                <div class="payment__right">
                    <div class="payment__form">
                        <div class="payment__form-head">
                            <img src="img/foto.jpg" alt="img" class="payment__form-img">
                            <div class="payment__form-col">
                                <p class="text-16">Просторная и современная квартира в центре города</p>
                                <div class="star">
                                    <img src="img/star-2.svg" alt="star" class="img-star">
                                    <span class="text-15 c-gray-medium weight-normal">5,0 (98 отзывов)</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment__form-content">
                            <ul class="payment__form-ul">
                                <li class="payment__form-li">
                                    <img src="img/calendar.svg" alt="calendar" class="icon-calendar">
                                    <div class="payment__form-info">
                                        <p class="payment__form-gray">Прибытие и выезд</p>
                                        <p class="payment__form-blue">10 сентября - 20 сентября</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <img src="img/person.svg" alt="person" class="icon-person">
                                    <div class="payment__form-info">
                                        <p class="payment__form-gray">Гостей</p>
                                        <p class="payment__form-blue">3 человека</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="payment__form-ul">
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">878₽ x 10 ночей</p>
                                        <p class="counts-item">$450</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">Скидка 10% (за неделю)
                                            <span class="question">
                                                <span class="tooltip">При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат и любовь.</span>
                                            </span>
                                        </p>
                                        <p class="counts-item">-$45</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">Плата за уборку
                                            <span class="question">
                                                <span class="tooltip">При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат и любовь.</span>
                                            </span>
                                        </p>
                                        <p class="counts-item">$15</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-total">Итого</p>
                                        <p class="counts-total"> $420</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-red">ЗАБРОНИРОВАТЬ</a>
                            <div class="payment__form-bottom">
                                <p class="text-16">Бесплатная отмена до 27 августа</p>
                                <p class="payment__form-text">
                                    При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат. <a href="#" class="more-link"> Подробнее</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @import "footer-small.html"
    @import "popups.html"
</div>


<script src="js/moment.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.inputmask.bundle.js"></script>
<script src="js/common.js"></script>
<script src="js/mask.js"></script>
</body>
</html>
