<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    <header class="payment__head">
        <div class="container">
            <div class="payment__head-row">
                <a href="#" class="logo">Xx
                    <span class="logo-span">.</span>
                </a>
                <div class="step-mob">шаг 1 из 3</div>
                <button class="payment__close close"></button>
                <ul class="step">
                    <li class="step-item">
                        <a href="#" class="step-link active">
                            1. Просмотрите правила дома
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link">
                            2. Кто приезжает?
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link">
                            3. Подтвердите и оплатите
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="wrapper-content">
        <div class="container">
            <div class="payment">
                <div class="payment__content">
                    <h2 class="title">Правила дома</h2>
                    <div class="payment__block">
                        <div class="like-box">
                            <img src="img/medical.svg" alt="medical" class="like-box__icon">
                            <div class="like-box__col">
                                <p class="like-box__title">Людям нравится это объявление</p>
                                <p class="like-box__text">На прошлой неделе этими датами интересовались другие люди (5)</p>
                            </div>
                        </div>
                        <p class="text-17">10 ночей в г. Баку</p>
                        <div class="payment__info">
                            <div class="payment__info-item">
                                <p class="text-16">10 сентября</p>
                                <p class="payment__info-text">Прибытие в четверг после 15:00</p>
                            </div>
                            <div class="payment__info-item">
                                <p class="text-16">20 сентября</p>
                                <p class="payment__info-text">Выезд в воскресенье
                                    в 11:00</p>
                            </div>
                        </div>
                        <ul class="list">
                            <li class="list-item">Самостоятельное прибытие (Мини-сейф)</li>
                        </ul>
                    </div>
                    <div class="remember">
                        <p class="text-17">что нужно помнить</p>
                        <div class="remember__row">
                            <div class="remember__item">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#pet"></use>
                                    </svg>
                                </div>

                                <p class="remember__text">Можно с животными</p>
                            </div>
                            <div class="remember__item">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#pet"></use>
                                    </svg>
                                </div>
                                <p class="remember__text">Можно с животными</p>
                            </div>
                            <div class="remember__item disabled">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#party"></use>
                                    </svg>
                                </div>
                                <p class="remember__text">Без вечеринок</p>
                            </div>
                            <div class="remember__item disabled">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#party"></use>
                                    </svg>
                                </div>
                                <p class="remember__text">Без вечеринок и мероприятий</p>
                            </div>
                            <div class="remember__item disabled">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#smoking"></use>
                                    </svg>
                                </div>

                                <p class="remember__text">Нельзя курить</p>
                            </div>
                            <div class="remember__item disabled">
                                <div class="remember__icon">
                                    <svg>
                                        <use xlink:href="img/sprite/sprite.svg#smoking"></use>
                                    </svg>
                                </div>
                                <p class="remember__text">Нельзя курить</p>
                            </div>
                        </div>
                    </div>
                    <div class="more">
                        Подробнее
                        <svg class="more-arrow">
                            <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </div>
                    <div class="read-more">
                        <p class="read-text">
                            При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат. Тес При отмене не позднее чем за 14 дней до прибытия вы полный возврат. возыа При отмене не позднее чем за 14 дней до прибытия вы получите возврат.
                        </p>
                    </div>
                    <a href="#" class="btn btn-red continue">СОГЛАСИТЬСЯ И ПРОДОЛЖИТЬ
                            <svg class="arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    <div class="like-box">
                        <img src="img/medical.svg" alt="medical" class="like-box__icon">
                        <div class="like-box__col">
                            <p class="like-box__title">Людям нравится это объявление</p>
                            <p class="like-box__text">На прошлой неделе этими датами интересовались другие люди (5)</p>
                        </div>
                    </div>
                </div>
                <div class="payment__right">
                    <div class="payment__form">
                        <div class="payment__form-head">
                            <img src="img/foto.jpg" alt="img" class="payment__form-img">
                            <div class="payment__form-col">
                                <p class="text-16">Просторная и современная квартира в центре города</p>
                                <div class="star">
                                    <img src="img/star-2.svg" alt="star" class="img-star">
                                    <span class="text-15 c-gray-medium weight-normal">5,0 (98 отзывов)</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment__form-content">
                            <ul class="payment__form-ul">
                                <li class="payment__form-li">
                                    <img src="img/calendar.svg" alt="calendar" class="icon-calendar">
                                    <div class="payment__form-info">
                                        <p class="payment__form-gray">Прибытие и выезд</p>
                                        <p class="payment__form-blue">10 сентября - 20 сентября</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <img src="img/person.svg" alt="person" class="icon-person">
                                    <div class="payment__form-info">
                                        <p class="payment__form-gray">Гостей</p>
                                        <p class="payment__form-blue">3 человека</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="payment__form-ul">
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">878₽ x 10 ночей</p>
                                        <p class="counts-item">$450</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">Скидка 10% (за неделю)
                                            <span class="question">
                                                <span class="tooltip">При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат и любовь.</span>
                                            </span>
                                        </p>
                                        <p class="counts-item">-$45</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item">Плата за уборку
                                            <span class="question">
                                                <span class="tooltip">При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат и любовь.</span>
                                            </span>
                                        </p>
                                        <p class="counts-item">$15</p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-total">Итого</p>
                                        <p class="counts-total"> $420</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-red">ЗАБРОНИРОВАТЬ</a>
                            <div class="payment__form-bottom">
                                <p class="text-16">Бесплатная отмена до 27 августа</p>
                                <p class="payment__form-text">
                                    При отмене не позднее чем за 14 дней до прибытия вы получите полный возврат. <a href="#" class="more-link"> Подробнее</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    @import "footer-small.html"
    @import "popups.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
