<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/daterangepicker.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header-second.html"
    <div id="wrapper-content">
        <div class="catalog">
            <div class="catalog-content">
                <form class="search-result">
                    <div class="search-result__item">
                        <input class="search-result__input search-result__city search-result__city-body" value="Баку" required>
                    </div>
                   <div class="search-result__item">
                       <input class="search-result__input search-result__date_mob" value="10.10 - 20.10" readonly required>
                   </div>
                   <div class="search-result__item">
                       <input type="text" value="1 человек" class="search-result__input input-visitor" readonly required>
                       <ul class="dropdown">
                           <li class="dropdown-item">
                               <p class="c-gray">Взрослые
                                   <span class="text-12">от 13 лет</span>
                               </p>
                               <div class="count ">
                                   <button type="button" class="count-btn count-minus "></button>
                                   <input type="text" class="input-count count__adults" value="1" readonly>
                                   <button type="button" class="count-btn count-plus"></button>
                               </div>
                           </li>
                           <li class="dropdown-item">
                               <p class="c-gray">Дети
                                   <span class="text-12">до 12 лет</span>
                               </p>
                               <div class="count">
                                   <button type="button" class="count-btn count-minus "></button>
                                   <input type="text" class="input-count count__children" value="0" readonly>
                                   <button type="button" class="count-btn count-plus"></button>
                               </div>
                           </li>
                       </ul>
                   </div>


                    <button type="submit" class="search-result__btn">
                        <svg class="search-result__icon">
                            <use xlink:href="img/sprite/sprite.svg#search"></use>
                        </svg>
                    </button>
                </form>
                <div class="catalog__head">
                    <div class="catalog__head-row">
                        <h2 class="title">Жилье в Баку</h2>
                        <div class="sorting">
                            <button class="btn-light"><span>ОТ ДЕШЕВЫХ</span>
                                <svg class="arrow arrow-down">
                                    <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="sorting-drop">
                                <ul class="sorting-menu">
                                    <li class="sorting-option active">ОТ ДЕШЕВЫХ</li>
                                    <li class="sorting-option">ОТ дорогих</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="btns-filter">
                        <a href="#" class="btn-white btn-filter">Цена</a>
                        <a href="#" class="btn-white btn-filter">Количество комнат</a>
                        <a href="#" class="btn-white btn-filter hide">Метро</a>
                        <a href="#" class="btn-white btn-filter btn-filter-all ">
                            Все Фильтры
                            <svg class="arrow arrow-down">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <label class="hide">
                            <input type="checkbox" class="checkbox">
                            <span class="btn-white check-reservation">Мгновенная бронь</span>
                        </label>
                      
                    </div>
                </div>

                <ul class="catalog-list" id="catalog-list"><!-- see in file map.js --> </ul>

                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-prev page-arrow" href="#"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link active" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-next page-arrow" href="#"></a></li>
                    </ul>
                </nav>
            </div>

            <div id="map"></div>
        </div>

    </div>
    @import "footer.html"
    @import "popups.html"
</div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="js/moment.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/map.js"></script>

<script src="js/jquery.daterangepicker.min.js"></script>
<script>
    let optionDate2 = {
        opens: 'left',
        autoUpdateInput: true,
        startOfWeek: 'monday',
        singleMonth: true,
        showShortcuts: false,
        // showTopbar: false,
        autoApply: false,
        format: "DD.MM"
    }

    $(function() {
        $('.search-result__date').dateRangePicker(optionDate2);
        $('.search-result__date_mob').dateRangePicker(optionDate2);
    });
</script>
<script src="js/common.js"></script>


</body>
</html>
